/*
***COMMON STYLES (START)
*/

body {
    background: #849d8f;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
/*
***BUTTONS STYLES (START)
*/

.page-container {
    padding: 0 27px;
}

.button--primary {
    background-image: linear-gradient(to bottom, rgb(242, 104, 67), rgb(231, 75, 54));
    border: none;
    border-radius: 29px;
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, .64);
    color: white;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, .76);
}

.button--primary:focus,
.button--primary:hover {
    background-image: linear-gradient(to bottom, rgb(245, 134, 105), rgb(236, 111, 94));
    outline: none;
}

.button--primary:active {
    background-image: linear-gradient(to bottom, rgb(242, 104, 67), rgb(231, 75, 54));
    box-shadow: inset 0px 2px 2px 0px rgb(148, 39, 24);
}

.button--big {
    height: 63px;
    width: 268px;
    font-size: 32px;
    font-weight: bold;
    line-height: 44px;
}

.button--regular {
    height: 43px;
    padding: 0 18px;
    font-size: 18px;
    line-height: 24px;
}

/*
***BUTTONS STYLES (END)
****************************
***TEXT INPUT STYLES (START)
*/

.text-input--primary {
    padding: 15px;
    border: 1px solid rgb(211, 211, 210);
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}

.text-input--primary:hover {
    padding: 14px;
    border: 2px solid rgb(199, 198, 197);
}

.text-input--primary:focus,
.text-input--primary:active {
    padding: 14px;
    font-weight: bold;
    border: 2px solid rgb(143, 189, 236);
    outline: none;
}

/*
***TEXT INPUT STYLE (END)
**************************
***COMMON STYLES (END)
**************************
**************************
*** HEADER SECTION (START)
*/

.page-header {
    display: flex;
    margin-top: 9px;
    border-top: 1px solid transparent;
    justify-content: flex-(START);
    
}

.page-header__gllacy-logo {
    height: 64px;
    width: 154px;
    font-size: 0;
    background-image: url(../img/Logo.png);
}

/* 
***Page header PAGE NAVIGATION styles (START)
*/

.page-header__page-nav {
    padding-left: 10px;
}

.page-header__user-nav a,
.page-header__page-nav a,
.page-header__user-nav a:focus,
.page-header__page-nav a:focus,
.page-header__user-nav a:visited,
.page-header__page-nav a:visited {
    text-decoration: inherit;
}

.page-header__user-nav li,
.page-header__page-nav li {
    list-style: none;
}

/*
***Page navigation NAVIGATION BUTTONS styles (START)
*/

.page-header__page-nav__button {
    display: inline-block;
}

.page-header__page-nav__button:hover {
    background-color: rgb(248, 247, 244);
    border: none;
    border-radius: 15px;
}

.page-header__page-nav__button > a {
    display: inline-block;
    padding: 7px 14px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    border-radius: 15px;
}

.page-header__page-nav__button:hover > a {
    color: rgb(51, 51, 51);
}

.page-header__page-nav__button > a::after {
    content: '';
    display: block;
    height: 1px;
    background-color:rgba(255, 255, 255, .2);
}

.page-header__page-nav__button--active > a,
.page-header__page-nav__button--active > a:hover,
.page-header__page-nav__button--active > a:active {
    color: rgb(255, 255, 255);
    background-color: #d07058;
}

/*
***Page navigation NAVIGATION BUTTONS styles (END)
**************************************************
***Page navigation CATALOG DROPDOWN styles (START)
*/

.page-header__page-nav__catalog-dropdown {
    position: absolute;
    padding-top: 5px;
}

.page-header__page-nav__button--catalog {
    position: relative;
}

.page-header__page-nav__button--catalog:hover .page-header__page-nav__catalog-dropdown__content{
    display: block;
}

.page-header__page-nav__catalog-dropdown__content {
    display: none;
    padding: 0;
    width: 143px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 5px;
    background-color: rgb(248, 247, 244);
}

.page-header__page-nav__catalog-dropdown__content__button {
    padding: 0 6px 0 6px;
    color: rgb(51, 51, 51);
}

.page-header__page-nav__catalog-dropdown__content__button > a {
    display: block;
    padding: 9px 0 9px 15px;
    color: inherit;
}

.page-header__page-nav__catalog-dropdown__content__button:first-child {
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

.page-header__page-nav__catalog-dropdown__content__button:first-child > a {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.page-header__page-nav__catalog-dropdown__content__button:last-child {
    border-radius: 0 0 5px 5px;
}

.page-header__page-nav__catalog-dropdown__content__button:hover {
    background-color: rgb(251, 222, 215);
}

.page-header__page-nav__catalog-dropdown__content__button:active {
    background-color: rgb(246, 181, 165);
}

.page-header__page-nav__catalog-dropdown__content__button--active:active,
.page-header__page-nav__catalog-dropdown__content__button--active:hover,
.page-header__page-nav__catalog-dropdown__content__button--active:focus,
.page-header__page-nav__catalog-dropdown__content__button--active {
    color: #ffffff;
    background-color: rgb(208, 112, 88);
}

/*
***Page navigation CATALOG DROPDOWN styles (END)
************************************************
***Page header PAGE NAVIGATION styles (END)
************************************************
***Page header USER NAVIGATION style (START)
*/

.page-header__user-nav {
    display: flex;
}

.page-header__user-nav__container {
    margin-left: auto; 
}


/*
***Page header USER NAVIGATION BUTTONS styles (START)
*/
.page-header__user-nav__button::before {
    content: '';
    display: block;
    position: absolute;
    left: 16px;
    width: 21px;
    height: 19px;
    background-image: url(/img/sprites.png);
}

.page-header__user-nav__button {
    position: relative;
    display: block;
    margin-left: 10px;
    padding: 8px 16px 8px 45px ;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 16px;
    background-color: rgba(255, 255, 255, .2);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.page-header__user-nav__button:focus {
    outline: none;
}

.page-header__user-nav__button:focus,
.page-header__user-nav__button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(248, 247, 244);
}

.page-header__user-nav__button--search {
    padding-left: 16px;
    font-size: 0;
}

.page-header__user-nav__button--search::before {
    left: 8px;
    background-position: -155px -10px;
}

.page-header__user-nav__button--search:focus::before,
.page-header__user-nav__button--search:hover::before {
    background-position: -92px -114px;
}

.page-header__user-nav__button--login::before {
    background-position: -51px -114px;
}

.page-header__user-nav__button--login:focus::before,
.page-header__user-nav__button--login:hover::before {
    background-position: -10px -114px;
}

.page-header__user-nav__button--chart::before {
    background-position: -114px -50px;
}

.page-header__user-nav__button--chart:focus::before,
.page-header__user-nav__button--chart:hover::before {
    background-position: -114px -10px;
}

.page-header__user-nav__button--big {
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
}

/*
***Page header USER NAVIGATION BUTTONS styles (END)
***********************************************************
***Page header USER NAVIGATION POPUPS styles (START)
***********************************************************
***Page header USER NAVIGATION POPUPS SEARCH styles (START)
*/

.page-header__user-nav__search:hover .page-header__user-nav__search__container {
    display: block;
    transform: translateX(-300px);
}

.page-header__user-nav__search__container {
    display: none;
    position: absolute;
    padding-top: 5px;
    min-width: 340px;
}

.page-header__user-nav__search__form {
    position: relative;
    padding: 20px 15px;
    border-radius: 6px;
    background-color: rgb(248, 247, 244);
}

/*
***Page header USER NAVIGATION POPUPS SEARCH styles (END)
**********************************************************
***Page header USER NAVIGATION POPUPS LOGIN styles (START)
*/

.page-header__user-nav__login:hover .page-header__user-nav__login__container {
    display: block;
}

.page-header__user-nav__login__container {
    display: none;
    transform: translateX(-180px);
    position: absolute;
    padding-top: 5px;
}

.page-header__user-nav__login__form {
    padding: 20px;
    min-width: 240px;
    border-radius: 5px;
    background-color: rgb(248, 247, 244);
}

.page-header__user-nav__login__form > * {
    margin-top: 20px;
}

.page-header__user-nav__login__form > *:first-child {
    margin-top: 0;
}


.page-header__user-nav__login__form__container {
    display: flex;
    justify-content: space-between;
}

.page-header__user-nav__login__form__link-container {
    font-size: 13px;
    line-height: 24px;
    color: rgb(0, 0, 0);
}

.page-header__user-nav__login__form__link-container a {
    display: block;
    text-decoration: underline;
}

.page-header__user-nav__login__form__link-container a:active,
.page-header__user-nav__login__form__link-container a:hover,
.page-header__user-nav__login__form__link-container a:visited {
    color: black;
}

/*
***Page header USER NAVIGATION POPUPS LOGIN styles (END)
**********************************************************
***Page header USER NAVIGATION POPUPS CHART styles (START)
*/


.page-header__user-nav__chart:hover .page-header__user-nav__chart__container {
    display: block;
}

.page-header__user-nav__chart__container {
    display: none;
    transform: translateX(-445px);
    position: absolute;
    padding-top: 5px;
}

.page-header__user-nav__chart__form {
    padding: 20px 15px;
    min-width: 540px;
    border-radius: 5px;
    background-color: rgb(248, 247, 244);
    font-size: 13px;
}

.page-header__user-nav__chart__form__item-list {
    border-bottom: 1px solid rgb(202, 202, 199);
}

.page-header__user-nav__chart__form__item-list__button {
    padding: 0;
    font-size: 0;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
}

.page-header__user-nav__chart__form__item-list__button__icon {
    font-size: 16px;
    font-weight: 900;
}

.page-header__user-nav__chart__form__submission {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.page-header__user-nav__chart__form__submission__button {
    margin-top: 15px;
}

.page-header__user-nav__chart__form__submission > span {
    margin-top: 15px;
    display: block;
    font-weight: bold;
    font-size: 15px;
}

/*
***Page header USER NAVIGATION POPUPS styles (END)
*********************************************************
***Page header USER NAVIGATION style (END)
*********************************************************
***Page navigation styles (END)
*********************************************************
***Page header WORKING HOURS section styles (START)
*/

.page-header__working-hours {
    text-align: right;
    float: right;
    margin: 0;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.page-header__working-hours__phone-number {
    display: block;
    font-weight: bold;
    font-size: 22px;
}

/*
***Page header WORKING HOURS section styles (END)
*************************************************
***PAGE HEADER SECTION (END)
*************************************************
*************************************************
***MAIN styles (START)
*/

