.button-primary {
    background-image: linear-gradient(to bottom, rgb(242, 104, 67), rgb(231, 75, 54));
    border: none;
    border-radius: 29px;
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    color: white;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.button-primary:focus,
.button-primary:hover {
    background-image: linear-gradient(to bottom, rgb(245, 134, 105), rgb(236, 111, 94));
    outline: none;
}

.button-primary:active {
    background-image: linear-gradient(to bottom, rgb(242, 104, 67), rgb(231, 75, 54));
    box-shadow: inset 0px 2px 2px 0px rgb(148, 39, 24);
}

.button-big {
    font-size: 32px;
    line-height: 44px;
    height: 63px;
    width: 268px;
}

.button-regular {
    height: 43px;
    padding: 0 18px;
    font-size: 18px;
    line-height: 24px;
}



